body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

.colored-text {
    color: coral;
}

.main-div {
    font-size: 20px;
    margin: 15px;
}

#main-title {
    font-size: 56px;
    text-align: center;
}

.centered {
    justify-content: center;
}

.flex-container {
    display: flex;
}

.subtitle {
    text-decoration: underline;
}

.step-image {
    width: 500px;
    height: auto;
    margin: 10px;
    border-radius: 10%;
}

.content {
    max-width: 90%;
}